Django==4.2.0
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
xhtml2pdf>=0.2.16
firebase-admin==6.5.0
Pillow==10.3.0
gunicorn==20.1.0
whitenoise==6.4.0
mysqlclient==2.2.4
dj-database-url==2.0.0
python-dotenv==1.0.1
qrcode==7.4.2
